{
  "extends": ["react-app"],
  "rules": {
    "indent": ["error", "tab"],
    "semi": ["error", "always"],
    "no-unused-vars": ["error", { "vars": "all", "args": "none", "ignoreRestSiblings": false }]
  }
}